<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.teamone.ownit.mapper.AdminMapper">

<!-- 김소희 -->

	<!-- 전체 상품 갯수 조회 -->
	<select id="selectProductListCount" resultType="integer">
		SELECT 
			COUNT(*) 
			FROM product
			<if test="!keyword.equals('')">
				<!-- 2. 검색타입(search)에 따른 WHERE 변경 -->
				<choose>
					<when test="searchType.equals('all')">
						WHERE product_brand LIKE '%${keyword}%' 
							OR product_type LIKE '%${keyword}%' 
							OR product_name LIKE '%${keyword}%'
							OR product_model_num LIKE '%${keyword}%'
							OR product_color LIKE '%${keyword}%'
					</when>
					<when test="searchType.equals('brand')">
						WHERE product_brand LIKE '%${keyword}%' 
					</when>
					<when test="searchType.equals('type')">
						WHERE product_type LIKE '%${keyword}%'
					</when>
					<when test="searchType.equals('name')">
						WHERE product_name LIKE '%${keyword}%'
					</when>
				</choose>
			</if>
	</select>

	<!-- 상품 목록 조회(검색 기능 추가) -->
	<select id="selectProductList" resultType="com.teamone.ownit.vo.AdminProductVO">
		SELECT * 
			FROM product p LEFT OUTER JOIN image i
			ON p.product_idx = i.product_idx
			
			<if test="!keyword.equals('')">
			<choose>
					<when test="searchType.equals('all')">
						WHERE p.product_brand LIKE '%${keyword}%' 
							OR p.product_type LIKE '%${keyword}%' 
							OR p.product_name LIKE '%${keyword}%'
							OR p.product_model_num LIKE '%${keyword}%'
							OR p.product_color LIKE '%${keyword}%'
					</when>
					<when test="searchType.equals('brand')">
						WHERE p.product_brand LIKE '%${keyword}%' 
					</when>
					<when test="searchType.equals('type')">
						WHERE p.product_type LIKE '%${keyword}%'
					</when>
					<when test="searchType.equals('name')">
						WHERE p.product_name LIKE '%${keyword}%'
					</when>
				</choose>
			</if>
			ORDER BY 
				p.product_idx
			LIMIT #{startRow}, #{listLimit}
	</select>
	
	<insert id="insertProduct">
		<selectKey keyProperty="product_idx" resultType="integer" order="BEFORE">
			SELECT MAX(product_idx) FROM product
		</selectKey>
		INSERT 
			INTO product
			VALUES (
					#{product_idx} + 1, 
					#{product_type}, 
					#{product_brand}, 
					#{product_name}, 
					#{product_model_num}, 
					#{product_color}, 
					#{product_release_price}, 
					#{product_buy_price}, 
					#{product_sell_price}, 
					0, 
					0, 
					DATE_FORMAT(now(), '%y-%m-%d')
					)
	</insert>
	
	
	<insert id="insertProductImage">
		<selectKey keyProperty="image_idx" resultType="integer" order="BEFORE">
			SELECT MAX(image_idx) FROM image
		</selectKey>
		INSERT 
			INTO image
			VALUES (
					#{image_idx} + 1, 
					#{product_idx}, 
					null, 
					null, 
					'product', 
					#{image_real_file1}, 
					#{image_original_file1}, 
					null, 
					null,
					null, 
					null
					)
	</insert>
	






























































































































































































<!-- 정채연 -->

</mapper> 
