<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.teamone.ownit.mapper.MemberMapper">

<!-- 정채연 -->






































































































































































































































































































	<!-- 류혜지 -->
	<!-- 이메일찾기 -->
	<select id="findEmail" resultType="com.teamone.ownit.vo.MemberVO">
		SELECT member_id FROM member 
			WHERE 
				member_name=#{member_name} 
				AND 
				member_phone=#{member_phone}
	</select>

</mapper> 
