<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.teamone.ownit.mapper.MypageMapper">

	<!-- 류혜지 -->
	<select id="selectMemberInfo" resultType="com.teamone.ownit.vo.MypageVO">
        SELECT 
        	i.image_original_file1,
        	m.member_id, 
 			m.member_nickname,
			m.member_name,
			m.member_phone,
			a.address_zipcode,
			a.address1,
			a.address2   	 
				FROM member m
				LEFT JOIN address a
				ON a.address_idx = m.member_idx
				LEFT JOIN image i
				ON m.member_idx = i.member_idx
				WHERE member_id=#{member_id}
    </select>	
	<!-- 전체 게시물 목록 갯수 조회(검색 기능 추가) -->
	<select id="selectMySellListCount" resultType="integer">
		SELECT 
			COUNT(*) 
			FROM member m
				LEFT JOIN image i
				ON m.member_idx = i.product_idx
				LEFT JOIN order_sell o
				ON m.member_idx = o.order_sell_idx
				LEFT JOIN product p
				ON m.member_idx = p.product_idx				
				WHERE member_id=#{id}			
			
	</select>	
	<select id="selectMySell" resultType="com.teamone.ownit.vo.MypageSellListVO">
        SELECT 
        	m.member_id,
        	i.image_real_file1,
        	p.product_name, 
			p.product_sell_price,
			o.order_sell_idx,
 			o.order_sell_date,
			o.order_sell_gb
				FROM member m
				LEFT JOIN image i
				ON m.member_idx = i.product_idx
				LEFT JOIN order_sell o
				ON m.member_idx = o.order_sell_idx
				LEFT JOIN product p
				ON m.member_idx = p.product_idx	
			WHERE member_id=#{id}
			ORDER BY 
				o.order_sell_idx DESC
			LIMIT #{startRow}, #{listLimit}
    </select>		
	<update id="updateMember">
		UPDATE member
				member_passwd = #{newPasswd}
			WHERE 
				member_id = #{member.member_id} AND member_passwd = #{member.member_passwd}
	</update>	
	
    <select id="selectWishlist" resultType="com.teamone.ownit.vo.WishlistVO">
        SELECT 
			m.member_idx,
			m.member_id,
			p.product_idx,
			p.product_name,
        	i.image_real_file1
				FROM wishlist w
				LEFT JOIN member m
				ON w.member_idx = m.member_idx
				LEFT JOIN product p
				ON w.product_idx = p.product_idx	
				LEFT JOIN image i
				ON w.product_idx = i.product_idx				
				WHERE m.member_id=#{id}
    </select>








































































































































































































































<!-- 정채연 -->
</mapper> 
