<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.teamone.ownit.mapper.OrderMapper">

















































































































































































































































































































































































































































































































<!-- 박주닮 501번 라인 -->
	<!-- 상품 정보를 가져오는 구문 -->
	<select id="productDetail" resultType="com.teamone.ownit.vo.ProductVO">
		select *
        	from product
				,image
        	where product.product_idx=#{product_idx} and image.product_idx=#{product_idx};
		
	</select>
	
	<!--  세션아이디로 맴버고유키를 가져오는 구문 -->
	<select id="selectMemberIdx" resultType="com.teamone.ownit.vo.MemberVO">
		SELECT member_idx
		FROM member
		WHERE member_id=#{sId};
	</select>
	
	<!--  상품 판매폼의 Account,address가 gb이 0인걸 우선으로 호출 -->
	<select id="selectMemberDetail" resultType="com.teamone.ownit.vo.Order_SellFormMbAddAccVO">
		SELECT * 
			FROM member
        	LEFT JOIN address 
        	ON member.member_idx=#{member_idx} 
        	AND address.member_idx=#{member_idx}
        	AND address_gb = ( 
        				SELECT address_gb
					        	FROM member, 
					        		 address
					       			 WHERE member.member_idx=#{member_idx}
									 AND member.member_idx = address.member_idx
				       				 ORDER BY address_gb *1 asc
				        			 limit 1
        			 		 )
	        LEFT JOIN account 
	        ON member.member_idx=#{member_idx} 
	        AND account.member_idx=#{member_idx}
	        AND account_gb=(
	        				SELECT account_gb
	        				FROM member, account
	        				WHERE member.member_idx=#{member_idx} AND member.member_idx = account.member_idx
	        				ORDER BY account_gb *1 asc
	       				    limit 1
	       				    )
	       				    WHERE member.member_idx =#{member_idx}
	       				    limit 1;
	</select>
	
	<!-- order_sell 테이블 insert작업 -->
	<insert id="insertOrderSell">
		INSERT INTO order_sell
			VALUES(
				null,
				#{product_idx},
				#{member_idx},
				#{account_idx},
				'0',
				date_format(now(),"%y-%m-%d")
			);
	</insert>

	<!-- order_sell 테이블 정보 조회, 한 맴버가 같은 상품을 여러번 판매했을경우에는 가장 최근 판매 정보 조회 -->
	<select id="selectOrderSell" resultType="com.teamone.ownit.vo.Order_sellVO">
		SELECT *
			FROM order_sell
			WHERE product_idx=#{product_idx}
			  AND member_idx=#{member_idx}
			  <if test="order_sell_date!=null and !order_sell_date.equals('')">
			  AND order_sell_date=#{order_sell_date}
			  </if>
		      ORDER BY order_sell_idx desc
		      LIMIT 1;
	</select>



	 <!--  주소 추가 -->
	<insert id="insertAddress">
		insert into address
			values(
				null,
				#{member_idx},
				#{address_zipcode},
				#{address1},
				#{address2},
				'0',
				#{address_nickname}
			);
	</insert>

	<!--  주소 업데이트 -->
	<update id="updateAddress">
	<selectKey keyProperty="address_idx" order="BEFORE" resultType="integer">
		select max(address_idx) from address where member_idx=#{member_idx};
	</selectKey>
		UPDATE address 
				   SET address_gb='1'
				   WHERE member_idx=#{member_idx} AND address_idx !=#{address_idx};
	</update>


	<!--  주소록 가져오는 구문 -->
	<select id="selectAddressList" resultType="com.teamone.ownit.vo.Order_SellFormMbAddAccVO">
		SELECT * FROM address,member
				WHERE address.member_idx=#{member_idx}
				AND member.member_idx=#{member_idx}
				ORDER BY address_gb *1 asc;
	</select>


	<update id="updateAddressForm">
		UPDATE address
				SET address_gb='0'
				WHERE address_idx=#{address_idx}
	</update>

	<update id="updateAddressSelect">
		UPDATE address 
				   SET address_gb='1'
				   WHERE member_idx=#{member_idx} AND address_idx !=#{address_idx};
	</update>























































































































































































































































































</mapper> <!-- 900번 라인 맞추기 -->
