<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.teamone.ownit.mapper.ReviewMapper">

    <select id="selectReviewList" resultType="com.teamone.ownit.vo.ReviewListVO">
        SELECT *
            FROM reviewList
    </select>
    
    <select id="selectReview" resultType="com.teamone.ownit.vo.ReviewListVO">
        SELECT *
            FROM reviewList
            WHERE
              review_idx = #{review_idx}
    </select>
    
    <select id="selectReply" resultType="com.teamone.ownit.vo.ReplyVO">
        SELECT * FROM reply r
						LEFT JOIN image i
						ON r.member_idx = i.member_idx
						LEFT JOIN member m
            ON r.member_idx = m.member_idx
            WHERE r.review_idx = #{review_idx};
    </select>

</mapper> 
